{% extends 'base.html' %}
{% block title %}Employee Listing{% endblock %}
{% block content %}
    {% if cells_list %}
        <div style="margin-left: 100px">

        {% for cell in cells_list %}
            <div class="employee-list">
                <a href="{% url 'cell manage' pk=cell.pk %}"
                   style="text-decoration: underline;font-size: 40px">
                    {{ cell.cell_name }} </a>
                </div>
        {% endfor %}
    {% else %}
        <h1 class="emp-not-found">No cells found</h1>
    {% endif %}
</div>
{% endblock %}