{% extends "base/base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
    <div class="information">
        <h1 >ABOUT US</h1>
        <ul style="margin: 5px">
            <li>Our management system is designed to make it easier for the employees and group responsible!</li>
            <li>It is designed to be deployed on local network on factory site.</li>
            <li>All the information needed to set it up is in
                the
                project repository <a href="https://github.com/LazyPotato02/softuni-final-project">Here</a>.
            </li>
            <li>Feel free to try
                and
                use it.
            </li>
        </ul>
    </div>
{% endblock %}