{% extends 'base/base.html' %}
{% load is_group %}
{% block title %}Order Listing{% endblock %}
{% block content %}

    {% if order_list %}
        <div class="order-lister-ul">
            {% for order in order_list %}
                <div class="order-list">
                    {% if request.user|is_group:'Editor' %}

                        <a href="{% url 'order edit' pk=order.pk %}">
                            {{ order.name }}</a>
                    {% elif request.user.is_superuser %}
                        <a href="{% url 'order edit' pk=order.pk %}">
                            {{ order.name }}</a>

                    {% else %}
                        <h1>{{ order.name }}</h1>
                    {% endif %}
                    {% if order.cell %}
                        <h1>Cell: <b style="color: #2ec12e">{{ order.cell }}</b></h1>

                    {% else %}
                        <h1>Cell: <b style="color: red">{{ order.cell }}</b></h1>
                    {% endif %}
                    {% if order.is_done %}
                        <h1>Done: <b style="color: #2ec12e">{{ order.is_done }}</b></h1>
                    {% else %}
                        <h1>Done: <b style="color: red">{{ order.is_done }}</b></h1>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="ord-not-found">No orders found</h1>
    {% endif %}
{% endblock %}