{% extends 'base.html' %}
{% block title %}Employee Listing{% endblock %}
{% block content %}
    {% if employee_list %}
        <div class="employee-lister-ul">
        {% for employee in employee_list %}
            <div class="employee-list">
                <a href="{% url 'employee edit' pk=employee.pk %}">
                    {{ employee }}</a>
                <h1 style="color: red"><b style="color: black">EMP ID:</b> {{ employee.emp_id }}</h1>
            </div>
        {% endfor %}
        </div>
    {% else  %}
        <h1 class="emp-not-found">No employees found</h1>
    {% endif %}
{% endblock %}