{% extends 'base/base.html' %}
{% block title %} Employee Edit{% endblock %}
{% block content %}
    <form method="post" action="{% url 'employee edit' pk=employee.pk %}">
        <div class="center-form-div">
            <div class="form-group">
                <div class="form-control form-text" style="font-size: 55px">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <div>
                        <button type="submit" class="btn btn-primary " style="font-size: 60px;">Submit</button>
                        <button type="submit" class="btn btn-primary "
                                style="font-size: 60px;background-color: red;"><a style="text-decoration: none;color: white"
                                href="{% url 'employee delete' pk=employee.pk %}">Delete</a></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}