{% extends 'base/base.html' %}
{% load is_group %}
{% block title %}Employee Listing{% endblock %}
{% block content %}
    {% if employee_list %}
        <div class="employee-lister-ul">
            {% for employee in employee_list %}
                <div class="employee-list">
                    {% if request.user|is_group:'Editor' or request.user.is_superuser %}
                        <a href="{% url 'employee edit' pk=employee.pk %}">
                            {{ employee.first_name }} {{ employee.last_name }}</a>
                        <h1>{{ employee }}</h1>
                        <h1 style="color: red"><b style="color: black">EMP ID:</b> {{ employee.emp_id }}</h1>
                    {% else %}
                        <h1>{{ employee.first_name }} {{ employee.last_name }}</h1>
                        <h1>{{ employee }}</h1>
                        <h1 style="color: red"><b style="color: black">EMP ID:</b> {{ employee.emp_id }}</h1>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="emp-not-found">No employees found</h1>
    {% endif %}
{% endblock %}