.cell-list {
    border-color: black;
    border-style: solid;
    border-bottom-width: 1 vm;
    border-radius: 15px;
    text-align: center;
    /*width: 40%;*/
    margin: 3px;
}

.cell-ul {
    /*position: absolute;*/
    /*left: 6%;*/
    /*display: grid;*/
    /*grid-template-columns: 500px 500px 500px;*/
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 80px);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.2%;

}

.cell-ul ul{
    position: absolute;
    display: grid;
    grid-template-columns: 500px 500px 500px;

}

.cell-list a {
    color: black;
    font-size: 50px;
}

.cell-not-found {
    font-size: 100px;
    text-align: center;

}