.employee-list{
    border-color: black;
    border-style: solid;
    border-bottom-width: 1vm;
    border-radius: 15px;
    /*width: 30fr;*/
    text-align: center;
    /*height: 22fr;*/
    margin: 0.1% ;
    float: left;


}
.employee-lister-ul{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 340px);
    grid-template-rows: repeat(2, 200px);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.2%;
    /*position: absolute;*/
    /*left: 1%;*/
    /*display: grid;*/
    /*width: auto;*/
    /*grid-template-columns: 500px 500px;*/
}
.employee-list a{
    color: black;
    text-decoration: underline;
    font-size: 40px
}
.emp-not-found{
    font-size: 100px;
    text-align:center;

}