.material-list{
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    /*width: 50%;*/
    text-align: center;
    /*height: 22%;*/
    margin: 10px ;
    float: left;;


}
.material-lister-ul{
    position: absolute;
    left: 7%;
    display: grid;
    grid-template-columns: 500px 500px 500px;
}


.material-list a{
    color: black;
    text-decoration: underline;
    font-size: 50px
}
.mat-not-found{
    font-size: 100px;
    text-align:center;

}